<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <title>Menu</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="text" style="text-align: center; margin-top: 25%;">
                    <a th:href="@{/lista-moto}"><button
                            style="font-size: 300%; margin-right: 5%; border-radius: 25px; width: 300px">MOTOS</button></a>
                    <a th:href="@{/lista-cliente}"><button
                            style="font-size: 300%; margin-right: 5%; border-radius: 25px; width: 300px">CLIENTES</button></a>
                    <a th:href="@{/formar-venda}"><button
                            style="font-size: 300%; border-radius: 25px; width: 300px">VENDA</button></a>
                </div>
            </div>
        </div>
    </body>

</html>